body {
    background-color: #232323;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
 
.square {
    width: 30%;
    background: coral;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 5%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    font-size: medium;
    line-height: 1.1;
    padding: 20px 0;
}

#color-display {
    font-size: 200%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

#msg {
    display: inline-block;
    width: 20%;
}

.selected {
    background-color: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
}

button:hover {
    color: white;
    background-color: steelblue;
    transition: all 0.5s;
}